.poppins-thin { font-family: "Poppins", sans-serif; font-weight: 100; font-style: normal;}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}


:root{
  --padding-container: 100px 0;
  --color-titles: #001A49;
}

body{
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 90%;
  max-width: 1200px;
  overflow: hidden;/*oculta elementos que se salgan del contenedor*/
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position:relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #ffff;
}

/*imagen de fondo y ajuste*/
.hero::before{
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000007c 0%, #0000007e 100%), url(/images/presentacion.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}
/*nav*/
.nav{
  --padding-container: 0;
  height: 100%;
  display: flex;/*pone los elementos uno al lado del otro*/
  align-items: center;
}
.nav_title{
  font-weight: 300px;
}

.nav_items{
  list-style: none;
}
/*Menu de navegacion, se crea horizontal, espaciado y no como lista*/
.nav_link{
  margin-left: auto;/*se pasan hacia la derecha*/
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}
.nav_links{
  color: #ffff;
  text-decoration: none;
}
/*menu hamburgueza*/
.nav_menu{
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.nav_img{
  display:block;
  width: 30px;
  margin-left: 20px;
}

/*icono de cerrar*/
.nav_close{

  display: var(--show, none);
}

/*modificar hero_container*/
.hero_container{
  max-width: 800px;
  display: grid;
  --padding-container:0;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero_title{
  font-size: 3rem;
}

.hero_paragraph{
  margin-bottom: 20px;
}
.cta{
  display: inline-block;
  background-color: #2091F9;
  justify-self: center;
  color: #ffff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}


/*Menu inferio*/

.about{
  text-align: center;
}

.subtitle{
  color: var(--color-titles);
  font-size: 2rem;
  margin-bottom: 25px;
}

.about_paragraph{
  line-height: 1.7;
}

.about_main{
  padding-top: 80px;
  display: grid;
  width: 90%;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));/*crear automaticamente columans segun tamaño de pantalla*/
}

.about_icons{
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: auto;
}

.about_icon{
  width: 40px;
}

/*cargue*/

.cargue{
  background-image: url(/images/map.jpg);
  background-size: cover;
  overflow: hidden; /*evita el desbordamiento*/
}
.cargue_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}
.cargue_paragraph{
  line-height: 1.7;
  margin-bottom: 15px;
}
.cargue_picture{
  max-width: fit-content;
}
.cargue_img{
  width: 100%;
  display: block;
  opacity: 60%;
}

/*Prices*/

.price{
  text-align: center;
}

.price_table{
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;/*Permite que los elementos se desborden y cambien de linea en el espacio disponible*/
  gap: 2.5em;
  justify-content: space-evenly;/*espaciado equitativo hacia todas las esquinas*/
  align-items: center;
}

.price_element{
  background-color: #E5E5F7;
  text-align: center;
  border-radius: 10px;
  width: 330px;
  padding: 40px;
  --color-plan:#696871;
  --color-price:#1D293F;
  --bg-cta:#fff;
  --color-cta:#050505;
  --color-items:#696871;
}

/*cambiar propiedades en un elemento que hereda, se cambia tamaño y colores*/

.price_element--best{
  width: 350px;
  padding: 40px 20px;
  background-color: #eb4310;
  --color-plan: rgb(255 255 255 /75%);
  --color-price:#ffffff;
  --bg-cta:#cc0a0a;
  --color-cta:#ffffff;
  --color-items:#ffffff;
}

.price_name{
  color: var(--color-plan);
  margin-bottom: 15px;
  font-weight: 300px;
}

.price_price{
  font-size: 2em;
  color: var(--color-price);
}

.price_items{
  margin-top: 35px;
  display: grid;
  gap: 1em;
  --color-items:#696871;
  font-weight: 300px;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.price_cta{
  color: var(--color-cta);
  background-color: var(--bg-cta);
  display: block;/*ocupa todo el ancho*/
  padding: 20px 0;/*primer numero arriba y abajo, segundo a los lados*/
  border-radius: 10px;
  text-decoration: none;
  font-weight: 300px;
  box-shadow: 0 0 1px rgb(0,0,0, .5);

}

/*testimonios seccion*/

.testimony{
  background-color: #e5e5f7;
  border-style: double;
  border-color: rgb(35, 17, 197);
}

.testimony_container{
  display: grid;
  grid-template-columns: 50px 1fr 50px; /*divide en tres columnas con diferente tamaño*/
  gap: 1em;
  align-items: center;
}

.testimony_body{
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  grid-auto-flow: 2em;
  grid-column: 2/3;/*empieza en la segunda linea y termina en la tercera*/
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none; /*no se pueden seleccionar y desaparecen*/
}

.testimony_body--show{
  pointer-events: unset;/*va a la proipiedad original*/
  opacity: 1;
  transition: opacity 1.5s ease-in-out;/*animacion lento-rapiodo-lento*/
}

.testimony_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;/*ajusta la imagen en x a mitad y y al 30%*/
  padding-left: 20px;
}

.testimony_text{
  max-width: 700px;
}

.testimony_arrow{
  width: 90%;
  cursor: pointer;/*se ve el mouse cada qe se pase por las flechas*/
}

.testimony_course{
  border-radius: 10px;
  background-color: rgb(8, 8, 8);
  color: #ffff;
  display: inline-block;
  padding: 10px;
}

.testimony_review{
  text-align: justify;
}

/*question*/

.question{
  text-align: center;
}

.question_container{
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 100px;
}

.question_padding{
  padding: 0;
  transition: .2s;
  border: 1px solid #5454d4;
  border-radius: 6px;
}

.question_padding--add{
  padding-bottom: 30px;
}

.question_answer{
  padding: 0 30px 0;
  overflow: hidden;
}

.question_title{
  display: flex;
  padding: 30px 0 30px;
  cursor: pointer;
  color: var(--color-titles);
  justify-content: space-between;
  font-size: 20px;
}

.question_arrow{
  border-radius: 50%;
  background-color: var(--color-titles);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform .3s;
}

.question_arrow--rotate{
  transform: rotate(180deg);
}

.question_show{
  transition: height .3s;
  text-align: left;
  height: 0;
}

.question_img{
  display: block;
}


/*footer inferior*/

.question_copy{
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

.footer{
  background-color: #1d293f;
}

.footer_title{
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
  color: #e5e5f7;
}

.footer_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: 1px solid #e5e5f7;
  padding-bottom: 60px;
}

.nav_footer{
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
}

.nav_link_footer{
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer_inputs{
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.footer_input{
  background-color: #E5E5F7;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.footer_submit{
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: #2091f9;
  border: none;
  font-size: 1rem;
  color: #E5E5F7;
  border-radius: 6px;
}


.footer_copy{
  --padding-container: 30px 0;
  text-align: center;
  color: #E5E5F7;
}

.footer_copyright{
  font-weight: 300;
}

.footer_icons{
  display: inline-flex;
  margin-bottom: 10px;
}

.footer_img{
  width: 30px;
}

/*MediaQUERIS Para dispositivos moviles*/

@media (max-width:800px){
  .nav_menu{
    display: block;
  }

  .nav_link--menu{
    position: fixed;
    background-color: #050505;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s;
  
    }

    .nav_link--show{
      --show: block;
      opacity: 1;
      pointer-events: unset;
    }

    .nav_close{
      position: absolute;
      top: 30px;
      right: 30px;
      width: 30px;
      cursor: pointer;

    }

    .hero_title{
      font-size: 2.5rem;
    }

    .about_main{
      gap: 2em;
    }

    .about_icons:last-of-type{
      grid-column: 1/-1;
    }

    .cargue_container{
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 3em;
      text-align: center;
    }

    .cargue_picture{
      grid-row: 1/2;
      justify-self: center;
    }

    .testimony_container{
      grid-template-columns: 30px 1fr 30px;
    }

    .testimony_body{
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
      gap: 3em;
      justify-items: center;
    }

    .question_copy{
      width: 100%;
    }

    .footer_container{
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav--footer{
      width: 100%;
      justify-self: center;
    }

    .nav_link_footer{
      width: 100%;
      justify-content: space-evenly;
      margin: 0;
    }

    .footer_form{
      width: 100%;
      justify-content: space-evenly;
    }

    .footer_input{
      flex: 1;
    }

}

@media (max-width:600px){

}
